<h1>Edit User</h1>
<br>
<%= form_for(@user) do |f| %>
  <table style= "margin: auto;text-align:left;">
    <tr>
      <th> User Name: </th>
      <td> <%= f.text_field(:user_name) %> </td>
    </tr>
   
    <tr>
      <th> Email: </th>
      <td> <%= f.text_field(:email) %> </td>
    </tr>
  </table>
  <br>
  <div>
    <%= f.submit("Edit") %>
  </div>
<% end %>
<br>
<%=link_to "Get back", users_path %>
