<h1>Dash Board</h1>
<br>
<h3> Hello, <%= current_user.user_name%></h3>
<br>
<%if current_user.admin %>
  <div class= "row">
    <div class = "col align-self-start">
      <%= link_to "Invite User", new_user_invitation_path ,:class => 'btn btn-outline-primary'%>
    </div>
  </div>
<%end%>
<br>
<div class= "row justify-content-md-center">
  <div class = "col-3">
    <%if current_user.admin%>
      <%= link_to "Users", users_path ,:class => 'btn btn-outline-primary btn-lg btn-block'%>
    <%else%> 
      <%= link_to "Profile", users_path ,:class => 'btn btn-outline-primary btn-lg btn-block'%>
    <%end%>
  </div>
  <div class="col-1"></div>
  <div class = "col-3">
    <%= link_to "Asset", items_path,:class => 'btn btn-outline-primary btn-lg btn-block'%>
  </div>
</div>
<br>
<div class= "row justify-content-md-center">
  <div class = "col-3">
    <%= link_to "Catagories", categories_path, :class => 'btn btn-outline-primary btn-lg btn-block' %>
  </div>
  <div class="col-1"></div>
  <div class = "col-3">
    <%= link_to "Purchase Requests", user_purchaserequests_path(current_user),:class => 'btn btn-outline-primary btn-lg btn-block'%>
  </div>
</div>
<br>
<%if current_user.admin %>
  <div class= "row justify-content-md-center">
    <div class = "col-3">
      <%= link_to "Use History", use_histories_path, :class => 'btn btn-outline-primary btn-lg btn-block'%>
    </div>
  </div>
<%end%>
<br>
<div class= "row justify-content-md-center">
  <div class = "col align-self-start">
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete ,:class => "btn btn-danger"%>
  </div>
</div>
<br>
