<h3>Purchase Requests</h3>
<br>
<table class="table">
    <tr class="thead-light">
      <th> # </th>
      <th> Asset Name </th>
      <th> Status </th>
      <%if @user.admin%>
        <th> Employee </th>
      <%end%>
      <th> Action </th>
    </tr>
    <% @purchase.each do |purchase| %>
      <% if @user.admin || @user.id === purchase.user_id%>
        <tr>
          <td> <%= purchase.id%> </td>
          <td> <%= purchase.asset %> </td>
          <td> <%= purchase.status %> </td>
          <%if @user.admin%>
            <td> <%= purchase.user.user_name %> </td>
          <%end%>
          <td>
            <%= link_to("Details", user_purchaserequest_path(@user,purchase))%>
          </td>
        </tr>
      <%end%>
    <% end %>
  </table>
  <br>
  <%= link_to("Back", authenticated_root_path, :class => "btn btn-secondary")%>
