<h1>Assets</h1>
<br>
<%= search_form_for @q do |f| %>
  <div class="form-row">
    <div class="col">
      <%= f.text_field :asset_or_asset_code_or_date_of_purchase_cont, :placeholder => 'Name, Code or Purchase Date', :class => "form-control" %>
    </div>
    <div class="col-auto">
      <%= f.submit %>
    </div>
  </div>
<% end %>
<br>
<br>
<table class="table">
    <tr class="thead-light">
      <th> # </th>
      <th> Asset Name </th>
      <th> Category </th>
      <th> Currently used by </th>
      <th> Action </th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td> <%= item.id %> </td>
      <td> <%= item.asset %> </td>
      <%if item.category == nil%>
        <td> <%= "Uncategoried" %> </td>
      <%else%>
        <td> <%= item.category.category %> </td>
      <%end%>
      <td> <%= get_asset_user(item) %> </td>
      <td>
         <%= action_option(item)%>
      </td>
    </tr>
    <% end %>
</table>
<br>

<div class= "row justify-content-between">
  <div class = "col-3">
    <%= link_to("Back", authenticated_root_path, :class => "btn btn-secondary")%>
  </div> 
<div class = "col-4">
  <%= add_purchase %> 
</div>
