<h1>Index</h1>
<%= current_user.user_name %>

<table>
    <tr class="header">
      <th> # </th>
      <th> Asset Name </th>
      <th> Date of Purchase </th>
      <th> Asset Code </th>
      <th> Action </th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td> <%= item.id %> </td>
      <td> <%= item.asset %> </td>
      <td> <%= item.date_of_purchase %> </td>
      <td> <%= item.asset_code %> </td>
      <td>
        <%= link_to("Show", "#")%>
        <%= link_to("Edit", "#") %>
        <%= link_to("Delete", "#") %>
      </td>
    </tr>
    <% end %>
  </table>
  <br>
  <%= link_to("Add ", new_item_path)%> <br>

  <%= link_to("Back", authenticated_root_path)%>
