<h1>Add Asset</h1>
<br>
<%= form_for(@item) do |f| %>
  <table style= "margin: auto;text-align:left;">
    <tr>
      <th> Asset Name </th>
      <td> <%= f.text_field(:asset) %> </td>
    </tr>
    <tr>
      <th> Purchase Date </th>
      <td> <%= f.date_field(:date_of_purchase) %> </td>
    </tr>
    <tr>
      <th> Asset Code </th>
      <td> <%= f.text_field(:asset_code) %> </td>
    </tr>
    <tr>
      <th>Categories</th>
      <td>
        <%=f.collection_select(:category_id, Category.all, :id, :category, {prompt: "UnSelected"} ) %>
      </td>
    <tr>
  </table>
  <br>
  <div class= "row justify-content-center">
    <div class = "col-2">
      <%= f.submit("Add") %>
    </div> 
    <div class = "col-2">
      <%=link_to "Back", items_path, :class => "btn btn-secondary" %>
    </div>
  </div>
<% end %>
<br>

