<div class = "container">
  <h1>Category add</h1>
  <%=link_to "Get back","#"%>
  <%= form_for(@category) do |f| %>

  <table>
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:category) %></td>
    </tr>

    <tr>
      <th>asset</th>
    <td>
      <%=f.collection_select(:item, Item.all, :id, :asset,{}, {:prompt => true, :multiple=>true }) %>
    </td>
  </tr>
  </table>
  

  <div class="form-buttons">
    <%= f.submit("Edit") %>
  </div>
  <% end %>
</div>