<!DOCTYPE html>
<html>
  <head>
    <style>
      #main{
        text-align: center;
        margin-top: 30px;
        padding: 20px;
        border-radius: 20px;
      }
    </style>
    <title>Inventory Management System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "container">
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
